
@{
}
@model IEnumerable<FGSZAMA.Models.UżytkownikViewModel>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/zamowienie_index.css">
</head>
<body>
    <h1>Panel Administratora - Użytkownicy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Description</td>
                    <td>
                        <a type="button" class="btn btn-warning" asp-action="UPEdit" asp-route-id="@user.Id">
                            Edytuj
                        </a>
                        <a type="button" class="btn btn-danger" asp-action="UPDelete" asp-route-id="@user.Id">
                            Usuń
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
