@model FGSZAMA.Controllers.OrderViewModel

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/zamowienie_index.css">
</head>
<body>
    <h1>Szczegóły Zamówienia</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                @Model.Id
            </dd>
            <dt class="col-sm-2">
                Użytkownik
            </dt>
            <dd class="col-sm-10">
                @Model.UserEmail
            </dd>
            <dt class="col-sm-2">
                Zestaw
            </dt>
            <dd class="col-sm-10">
                @Model.Zestaw
            </dd>
            <dt class="col-sm-2">
                Kalorycznosc
            </dt>
            <dd class="col-sm-10">
                @Model.Kalorycznosc
            </dd>
            <dt class="col-sm-2">
                Cena Za Dzień (zł)
            </dt>
            <dd class="col-sm-10">
                @Model.CenaZaDzien
            </dd>
            <dt class="col-sm-2">
                Od
            </dt>
            <dd class="col-sm-10">
                @Model.DataOd
            </dd>
            <dt class="col-sm-2">
                Do
            </dt>
            <dd class="col-sm-10">
                @Model.DataDo
            </dd>
            <dt class="col-sm-2">
                Razem (zł)
            </dt>
            <dd class="col-sm-10">
                @Model.SumaCeny
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="ZamowieniePanel" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
            </svg>
        </a>
    </div>
</body>
</html>
