@model IEnumerable<FGSZAMA.Models.ZamowienieModel>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/zamowienie_index.css">
</head>

<h1>Twoje Plany</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zestaw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kalorycznosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenaZaDzien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumaCeny)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zestaw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kalorycznosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaZaDzien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumaCeny)
            </td>
            <td>
                <a type="button" class="btn btn-warning"asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> 
                <a type="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                <a type="button" class="btn btn-warning" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p> </p>
<p class="center-button">
    <a type="button" class="btn btn-warning" asp-action="Create">Dodaj zamówienie</a>
</p>
